<!DOCTYPE HTML>
<htmml>
    <body>
    <head>
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="../htdocs/assests/style.css">
        <link>
    </head> 

    <header>
        <h1>{{header}}</h1>
    </header>

    {% include 'navBar.template.html.twig' %}

    {% if craft.request.getPath() ==  entry.uri  %}
    <span class="formSpan">
    <form action="" method="GET">
        <div class="archiveForm">
            <label class="searchBarTitle" for="search">Browse prior facts:</label><br>
            <input class="searchBar" type="text" name="search" placeholder="Search" value="{{searchBarValue | default('') }}">
            
        </div>
        <div class="archiveForm">
            <label class= "selectBarTitle" for='sortBy'>Sort by:</label><br>
            <select class="selectBar" id="sortBy" name="sortBy">
                {% for options in sortByValues %}
                    {% set selected = '' %}
                    {% if options.option == sortBy %}
                        {% set selected = 'selected' %}
                    {% endif %}
                    <option value="{{options.option}}" {{ selected }}>{{options.label}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="pageNo" value="1"/>
        <div class="archiveForm">
        <label class= "selectBarTitle" for='limitBy'>Limit results per page:</label><br>
            <select class="selectBar" id="limitBy" name="limitBy">
                {% for options in limitByValues %}
                    {% set selected = '' %}
                    {% if options.option == limitBy %}
                        {% set selected = 'selected' %}
                    {% endif %}
                    <option value="{{options.option}}" {{ selected }}>{{options.option}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input class="submit" type="submit" value="Search">
        </div>
    </form>
    </span>

    {% if searchTerms.searchTerm is defined %}

    <div>
        Search of "{{searchTerms.searchTerm}}" returned {{totalResults}} results.
    </div>

    {% else %}

    <div>
        Please enter a search term.
    </div>

    {% endif %}

    <div>
        {% for result in results %}
            <div class='archiveResults'>Result: {{loop.index}}
            <h4 class='result'>{{result.day}}/{{result.month}}</h4>
            <p class='result'>{{result.fact}}</p>
            {% if result.link %}
                <p>Click <a href='{{result.link}}' target='blank'>here</a> to learn more about this event</p>
            {% endif %}
            {% if result.image %}
                <a href='{{result.image}}' target='blank'>
                    <img src='{{result.image}}' alt='associated image' style='width:200px;height:200px'>
                </a>
            {% endif %}
            </div>    
        {% endfor %}
    </div>

    {% endif %}

    {% if searchTerms.searchTerm %}

    <div  class="pagination">
        <ul>
            <li><a href="?search={{searchTerms.searchTerm}}&sortBy={{searchTerms.sortBy}}&pageNo=1&limitBy={{searchTerms.limitBy}}">First</a></li>
            <li class="{% if pageNo <= 1 %}disabled{% endif %}">
                <a href="{% if pageNo <= 1 %}#{% else %}?search={{searchTerms.searchTerm}}&sortBy={{searchTerms.sortBy}}&pageNo={{pageNo - 1}}&limitBy={{searchTerms.limitBy}}{% endif %}">Prev</a>
            </li>
            <li class="{% if pageNo >= totalPages %}disabled{% endif %}">
                <a href="{% if pageNo >= totalPages %}#{% else %}?search={{searchTerms.searchTerm}}&sortBy={{searchTerms.sortBy}}&pageNo={{pageNo + 1}}&limitBy={{searchTerms.limitBy}}{% endif %}">Next</a>
            </li>
            <li><a href="?search={{searchTerms.searchTerm}}&sortBy={{searchTerms.sortBy}}&pageNo={{totalPages}}&limitBy={{searchTerms.limitBy}}">Last</a></li>
        </ul>
    </div>

    {% endif %}
     
    {% include 'footer.template.html.twig' %}

    </body>
</htmml>
