<!DOCTYPE HTML>
<htmml>
    <body>
    <head>
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="../htdocs/assests/style.css">
        <link>
    </head> 

    <header>
        <h1>{{header}}</h1>
    </header>

    {% include 'navBar.template.html.twig' %}

    <section class="dailyFactInfo">
        <h1>An Interesting Historical Fact</h1>
        <p>This page displays an interesting fact that occured on today's date sometime in the past. Although care has been taken to verify the information 
            below, it should be noted that I am not an historian. Refreshing the page may display an alternate fact for today. <br> If you wish to see facts from other dates,
            feel free to visit the archive page. Please bare in mind that some dates may not have an associated fact yet.</p>
        <h4>Today's date is: {{date}}</h4>
    </section>

    <section class="dailyFact">
            <h1>On {{date}} in the past...</h1>
            <b>
                {% if dailyFactInfo | first.fact %}
                    {{dailyFactInfo | first.fact}}
                {% else %}
                    Error: the entry for this date is most likely empty. This will be fixed as the website is updated.
                {% endif %}
            </b>

            <p>
            {% if dailyFactInfo | first.link %}
                Click <a href="{{dailyFactInfo | first.link}}" target="blank"><b>here</b></a> to learn more.
            {% else %}
                Error: link not found.
            </p>
            {% endif %}
            
    </section>

    <div class="dailyFactImage">
        <a href="{{dailyFactInfo | first.image}}" target="blank">
            <img class="dailyFactImage" src="{{dailyFactInfo | first.image}}" alt="associated image">
        </a>
    </div>

     
    {% include 'footer.template.html.twig' %}

    </body>
</htmml>