<!DOCTYPE HTML>
<htmml>
    <body>
    <head>
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="../assests/style.css">
        <link>
    </head> 

    <header>
        <h1>{{header}}</h1>
    </header>




    <div class="navbar">
        <nav>
            <ul>
                <li><a class="{% if craft.request.getPath() ==  entry.uri %}{% endif %}" href="../daily-fact.php">Daily Fact</a></li>
                <li><a class="{% if craft.request.getPath() ==  entry.uri %}{% endif %}" href="../archive.php">Archive</a></li>
                <li><a class="{% if craft.request.getPath() ==  entry.uri %}{% endif %}" href="../about.php">About</a></li>
                <li><a class="{% if craft.request.getPath() ==  entry.uri %}active{% endif %}" href="page.class.php">Test</a></li>
            </ul>    
        </nav>
    </div>

    {% if craft.request.getPath() ==  entry.uri  %}
    <span class="formSpan">
    <form action="" method="GET">
        <div class="archiveForm">
            <label class="searchBarTitle" for="search">Browse prior facts:</label><br>
            <input class="searchBar" type="text" name="search" placeholder="Search" value="{{searchBarValue | default('') }}">
            
        </div>
        <div class="archiveForm">
            <label class= "selectBarTitle" for='sortBy'>Sort by:</label><br>
            <select class="selectBar" id="sortBy" name="sortBy">
                {% for options in sortByValues %}
                    {% set selected = '' %}
                    {% if options.option == sortBy %}
                        {% set selected = 'selected' %}
                    {% endif %}
                    <option value="{{options.option}}" {{ selected }}>{{options.label}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="pageNo" value="1"/>
        <div class="archiveForm">
        <label class= "selectBarTitle" for='limitBy'>Limit results per page:</label><br>
            <select class="selectBar" id="limitBy" name="limitBy">
                {% for options in limitByValues %}
                    {% set selected = '' %}
                    {% if options.option == limitBy %}
                        {% set selected = 'selected' %}
                    {% endif %}
                    <option value="{{options.option}}" {{ selected }}>{{options.option}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input class="submit" type="submit" value="Search">
        </div>
    </form>
    </span>

    {% if searchTerms| default(null)%}
    <div>
        Search of "{{searchTerms.searchTerm}}" returned {{totalResults}} results.
    </div>
    {% endif %}

    <div>
        {% for result in results %}
            <div class='archiveResults'>Result:
            <h4 class='result'>{{result.day}}/{{result.month}}</h4>
            <p class='result'>{{result.fact}}</p>
            {% if result.link %}
                <p>Click <a href='{{result.link}}' target='blank'>here</a> to learn more about this event</p>
            {% endif %}
            {% if result.image %}
                <a href='{{result.image}}' target='blank'>
                    <img src='{{result.image}}' alt='associated image' style='width:200px;height:200px'>
                </a>
            {% endif %}
            </div>    
        {% endfor %}
    </div>

    {% endif %}


    

    <div  class="pagination">
        <ul>
            <li><a href="<?php echo "?search=$searchTerm&sortBy=$sortBy&pageNo=1&limitBy=$limitResults" ?>">First</a></li>
            <li class="<?php if($pageNo <= 1){ echo 'disabled'; } ?>">
                <a href="<?php if($pageNo <= 1){ echo '#'; } else { echo "?search=$searchTerm&sortBy=$sortBy&pageNo=".($pageNo - 1)."&limitBy=$limitResults"; } ?>">Prev</a>
            </li>
            <li class="<?php if($pageNo >= $totalPages){ echo 'disabled'; } ?>">
                <a href="<?php if($pageNo >= $totalPages){ echo '#'; } else { echo "?search=$searchTerm&sortBy=$sortBy&pageNo=".($pageNo + 1)."&limitBy=$limitResults"; } ?>">Next</a>
            </li>
            <li><a href="<?php echo "?search=$searchTerm&sortBy=$sortBy&pageNo=$totalPages&limitBy=$limitResults; "?>">Last</a></li>
        </ul>
    </div>
     

    <footer>
        <span class="footerText">
            Admin contact: <a href="mailto:twbradley@hotmail.com">twbradley@hotmail.com</a>
        </span>
        <span style="display: inline-block;">
            <a href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" target="blank">
                <img class="socialMedia" src="https://www.edigitalagency.com.au/wp-content/uploads/Linkedin-logo-icon-png.png" alt="Linkedin-logo-icon-png"/>
            </a>
        </span>
        <span class="footerText footerLink">
            <a href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" target="blank">Thomas Bradley</a>
        </span>
    </footer>
    </body>
</htmml>